localhost

import examples/8g-caddy.snippet
import examples/8g-enforce.snippet

# Use the debug snippet to inspect the matching
# elements via response headers:
#
#import examples/8g-debug.snippet

root * html

file_server
