localhost

import examples/8g-caddy.snippet
import examples/8g-enforce.snippet

# Use the debug snippet to inspect the matching
# elements via response headers:
#
import examples/firewall-debug.snippet

log {
    output stderr
    format console
}

root * html

file_server
