
#
# Include these only during testing and debugging
#

header 7gquery {bad_query_string_7g}
header 7gbadrequest {bad_request_uri_7g}
header 7gbadbot {bad_http_user_agent_7g}
header 7gbadhost {bad_remote_host_7g}
header 7gbadreferer {bad_http_referer_7g}

header x-query {query}
header x-uri {uri}
header x-useragent {header.user-agent}
header x-referer {header.referer}
header x-method {method}
