
#
# Include these only during testing and debugging
#

header 7gfired {7g_fired}
header 7gquery {bad_querystring_7g}
header 7gbadrequest {bad_request_7g}
header 7gbadbot {bad_bot_7g}
header 7gbadreferer {bad_referer_7g}
header 7gbadmethod {not_allowed_method_7g}

header x-query {query}
header x-uri {uri}
header x-useragent {header.user-agent}
header x-referer {header.referer}
header x-method {method}
