
#
# Include and adapt this snippet for
# testing purposes only.
#

header X-7G-query {bad_query_string_7g}
header X-7G-badrequest {bad_request_uri_7g}
header X-7G-badbot {bad_http_user_agent_7g}
header X-7G-badhost {bad_remote_host_7g}
header X-7G-badreferer {bad_http_referer_7g}

#header X-query {query}
#header X-uri {uri}
#header X-path {path}
#header X-remotehost {remote_host}
#header X-useragent {header.user-agent}
#header X-referer {header.referer}
#header X-method {method}
