
# to be used as a Caddy snippet via import
# see https://caddyserver.com/docs/caddyfile/directives/import

# 8G FIREWALL v1.3 20240222
# @ https://perishablepress.com/8g-firewall/

map {query} {bad_query_string_8g} {
~(?i)([a-z0-9]{1000,}) "10"
~(?i)(/|%2f)(:|%3a)(/|%2f) "11"
~(?i)(etc/(hosts|motd|shadow)) "12"
~(?i)(order(\s|%20)by(\s|%20)1--) "13"
~(?i)(/|%2f)(\*|%2a)(\*|%2a)(/|%2f) "14"
~(?i)(\x60|<|>|\^|\|\\|0x00|%00|%0d%0a) "15"
~(?i)(f?ckfinder|f?ckeditor|fullclick) "16"
~(?i)((.*)header:|(.*)set-cookie:(.*)=) "17"
~(?i)(localhost|127(\.|%2e)0(\.|%2e)0(\.|%2e)1) "18"
~(?i)(cmd|command)(=|%3d)(chdir|mkdir)(.*)(x20) "19"
~(?i)(globals|mosconfig([a-z_]{1,22})|request)(=|\[) "20"
~(?i)(/|%2f)((wp-)?config)((\.|%2e)inc)?((\.|%2e)php) "21"
~(?i)(thumbs?(_editor|open)?|tim(thumbs?)?)((\.|%2e)php) "22"
~(?i)(absolute_|base|root_)(dir|path)(=|%3d)(ftp|https?) "23"
~(?i)(s)?(ftp|inurl|php)(s)?(:(/|%2f|%u2215)(/|%2f|%u2215)) "24"
~(?i)(\.|20)(get|the)(_|%5f)(permalink|posts_page_url)(\(|%28) "25"
~(?i)((boot|win)((\.|%2e)ini)|etc(/|%2f)passwd|self(/|%2f)environ) "26"
~(?i)(((/|%2f){3,3})|((\.|%2e){3,3})|((\.|%2e){2,2})(/|%2f|%u2215)) "27"
~(?i)(benchmark|char|exec|fopen|function|html)(.*)(\(|%28)(.*)(\)|%29) "28"
~(?i)(php)([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}) "29"
~(?i)(e|%65|%45)(v|%76|%56)(a|%61|%31)(l|%6c|%4c)(.*)(\(|%28)(.*)(\)|%29) "30"
~(?i)(/|%2f)(=|%3d|$&|_mm|cgi(\.|-)|inurl(:|%3a)(/|%2f)|(mod|path)(=|%3d)(\.|%2e)) "31"
~(?i)(<|%3c)(.*)(e|%65|%45)(m|%6d|%4d)(b|%62|%42)(e|%65|%45)(d|%64|%44)(.*)(>|%3e) "32"
~(?i)(<|%3c)(.*)(i|%69|%49)(f|%66|%46)(r|%72|%52)(a|%61|%41)(m|%6d|%4d)(e|%65|%45)(.*)(>|%3e) "33"
~(?i)(<|%3c)(.*)(o|%4f|%6f)(b|%62|%42)(j|%4a|%6a)(e|%65|%45)(c|%63|%43)(t|%74|%54)(.*)(>|%3e) "34"
~(?i)(<|%3c)(.*)(s|%73|%53)(c|%63|%43)(r|%72|%52)(i|%69|%49)(p|%70|%50)(t|%74|%54)(.*)(>|%3e) "35"
~(?i)(\+|%2b|%20)(d|%64|%44)(e|%65|%45)(l|%6c|%4c)(e|%65|%45)(t|%74|%54)(e|%65|%45)(\+|%2b|%20) "36"
~(?i)(\+|%2b|%20)(i|%69|%49)(n|%6e|%4e)(s|%73|%53)(e|%65|%45)(r|%72|%52)(t|%74|%54)(\+|%2b|%20) "37"
~(?i)(\+|%2b|%20)(s|%73|%53)(e|%65|%45)(l|%6c|%4c)(e|%65|%45)(c|%63|%43)(t|%74|%54)(\+|%2b|%20) "38"
~(?i)(\+|%2b|%20)(u|%75|%55)(p|%70|%50)(d|%64|%44)(a|%61|%41)(t|%74|%54)(e|%65|%45)(\+|%2b|%20) "39"
~(?i)(\\x00|(\"|%22|\'|%27)?0(\"|%22|\'|%27)?(=|%3d)(\"|%22|\'|%27)?0|cast(\(|%28)0x|or%201(=|%3d)1) "40"
~(?i)(g|%67|%47)(l|%6c|%4c)(o|%6f|%4f)(b|%62|%42)(a|%61|%41)(l|%6c|%4c)(s|%73|%53)(=|\[|%[0-9A-Z]{0,2}) "41"
~(?i)(_|%5f)(r|%72|%52)(e|%65|%45)(q|%71|%51)(u|%75|%55)(e|%65|%45)(s|%73|%53)(t|%74|%54)(=|\[|%[0-9A-Z]{2,}) "42"
~(?i)(j|%6a|%4a)(a|%61|%41)(v|%76|%56)(a|%61|%31)(s|%73|%53)(c|%63|%43)(r|%72|%52)(i|%69|%49)(p|%70|%50)(t|%74|%54)(:|%3a)(.*)(;|%3b|\)|%29) "43"
~(?i)(b|%62|%42)(a|%61|%41)(s|%73|%53)(e|%65|%45)(6|%36)(4|%34)(_|%5f)(e|%65|%45|d|%64|%44)(e|%65|%45|n|%6e|%4e)(c|%63|%43)(o|%6f|%4f)(d|%64|%44)(e|%65|%45)(.*)(\()(.*)(\)) "44"
~(?i)(@copy|\$_(files|get|post)|allow_url_(fopen|include)|auto_prepend_file|blexbot|browsersploit|call_user_func_array|(php|web)shell|curl(_exec|test)|disable_functions?|document_root) "45"
~(?i)(elastix|encodeuricom|exploit|fclose|fgets|file_put_contents|fputs|fsbuff|fsockopen|gethostbyname|ghost|grablogin|hmei7|hubs_post-cta|input_file|invokefunction|(\b)load_file|open_basedir|outfile|p3dlite) "46"
~(?i)(pass(=|%3d)shell|passthru|phpinfo|phpshells|popen|proc_open|quickbrute|remoteview|root_path|safe_mode|shell_exec|site((.){0,2})copier|sp_executesql|sux0r|trojan|udtudt|user_func_array|wget|wp_insert_user|xertive) "47"
~(?i)(;|<|>|\'|\"|\)|%0a|%0d|%22|%27|%3c|%3e|%00)(.*)(/\*|alter|base64|benchmark|cast|concat|convert|create|encode|declare|delay|delete|drop|hex|insert|load|md5|null|replace|request|script|select|set|sleep|truncate|unhex|update) "48"
~(?i)((\+|%2b)(concat|delete|get|select|union)(\+|%2b)) "49"
~(?i)(union)(.*)(select)(.*)(\(|%28) "50"
~(?i)(concat|eval)(.*)(\(|%28) "51"

default "0"
}

map {path} {bad_request_uri_8g} {
~(?i)(,,,) "10"
~(?i)(-------) "11"
~(?i)(\^|\x60|<|>|\\|\|) "12"
~(?i)([a-z0-9]{1000,}) "13"
~(?i)(=?\\(\'|%27)/?)(\.) "14"
~(?i)(/)(\*|\"|\'|\.|,|&|&amp;?)/?$ "15"
~(?i)(\.)(php)(\()?([0-9]+)(\))?(/)?$ "16"
~(?i)(\.(s?ftp-?)config|(s?ftp-?)config\.) "17"
~(?i)(/)(f?ckfinder|fck/|f?ckeditor|fullclick) "18"
~(?i)(/)((force-)?download|framework/main)(\.php) "19"
~(?i)(/)(vbull(etin)?|boards|vbforum|vbweb|webvb)(/)? "20"
~(?i)(\.|20)(get|the)(_)(permalink|posts_page_url)(\() "21"
~(?i)(///|\?\?|/&&|/\*(.*)\*/|/:/|\\\\|0x00|%00|%0d%0a) "22"
~(?i)(/)(cgi_?)?alfa(_?cgiapi|_?data|_?v[0-9]+)?(\.php) "23"
~(?i)(thumbs?(_editor|open)?|tim(thumbs?)?)((\.|%2e)php) "24"
~(?i)(/)((boot)?_?admin(er|istrator|s)(_events)?)(\.php) "25"
~(?i)(/%7e)(root|ftp|bin|nobody|named|guest|logs|sshd)(/) "26"
~(?i)(archive|backup|db|master|sql|wp|www|wwwroot)\.(gz|zip) "27"
~(?i)(/)(\.?mad|alpha|c99|php|web)?sh(3|e)ll([0-9]+|\w)(\.php) "28"
~(?i)(/)(admin-?|file-?)(upload)(bg|_?file|ify|svu|ye)?(\.php) "29"
~(?i)(/)(etc|var)(/)(hidden|secret|shadow|ninja|passwd|tmp)(/)?$ "30"
~(?i)(s)?(ftp|http|inurl|php)(s)?(:(/|%2f|%u2215)(/|%2f|%u2215)) "31"
~(?i)(/)(=|\$&?|&?(pws|rk)=0|_mm|_vti_|cgi(\.|-)?|(=|/|;|,)nt\.) "32"
~(?i)(\.)(ds_store|htaccess|htpasswd|init?|mysql-select-db)(/)?$ "33"
~(?i)(/)(bin)(/)(cc|chmod|chsh|cpp|echo|id|kill|mail|nasm|perl|ping|ps|python|tclsh)(/)?$ "34"
~(?i)(/)(::[0-9999]|%3a%3a[0-9999]|127\.0\.0\.1|ccx|localhost|makefile|pingserver|wwwroot)(/)? "35"
~(?i)(/)?j((\s)+)?a((\s)+)?v((\s)+)?a((\s)+)?s((\s)+)?c((\s)+)?r((\s)+)?i((\s)+)?p((\s)+)?t((\s)+)?(%3a|:) "36"
~(?i)(/)(filemanager|htdocs|httpdocs|https?|login|mailman|mailto|msoffice|undefined|usage|var|vhosts|webmaster|www)(/) "37"
~(?i)(\(null\)|\{\$itemURL\}|cast\(0x|echo(.*)kae|etc/passwd|eval\(|null(.*)null|open_basedir|self/environ|\+union\+all\+select) "38"
~(?i)(/)(db-?|j-?|my(sql)?-?|setup-?|web-?|wp-?)?(admin-?)?(setup-?)?(conf\b|conf(ig)?)(uration)?(\.?bak|\.inc)?(\.inc|\.old|\.php|\.txt) "39"
~(?i)(/)((.*)crlf-?injection|(.*)xss-?protection|__(inc|jsc)|administrator|author-panel|cgi-bin|database|downloader|(db|mysql)-?admin)(/) "40"
~(?i)(/)(haders|head|hello|helpear|incahe|includes?|indo(sec)?|infos?|install|ioptimizes?|jmail|js|king|kiss|kodox|kro|legion|libsoft)(\.php) "41"
~(?i)(/)(awstats|document_root|dologin\.action|error.log|extension/ext|htaccess\.|lib/php|listinfo|phpunit/php|remoteview|server/php|www\.root\.) "42"
~(?i)(base64_(en|de)code|benchmark|curl_exec|e?chr|eval|function|fwrite|(f|p)open|html|leak|passthru|p?fsockopen|phpinfo)(.*)(\(|%28)(.*)(\)|%29) "43"
~(?i)(posix_(kill|mkfifo|setpgid|setsid|setuid)|(child|proc)_(close|get_status|nice|open|terminate)|(shell_)?exec|system)(.*)(\(|%28)(.*)(\)|%29) "44"
~(?i)(/)((c99|php|web)?shell|crossdomain|fileditor|locus7|nstview|php(get|remoteview|writer)|r57|remview|sshphp|storm7|webadmin)(.*)(\.|%2e|\(|%28) "45"
~(?i)(/)(^$|-|\!|\w|\.(.*)|100|123|([^iI])?ndex|index\.php/index|3xp|777|7yn|90sec|99|active|aill|ajs\.delivery|al277|alexuse?|ali|allwrite)(\.php) "46"
~(?i)(/)(analyser|apache|apikey|apismtp|authenticat(e|ing)|autoload_classmap|backup(_index)?|bakup|bkht|black|bogel|bookmark|bypass|cachee?)(\.php) "47"
~(?i)(/)(clean|cm(d|s)|con|connector\.minimal|contexmini|contral|curl(test)?|data(base)?|db|db-cache|db-safe-mode|defau11|defau1t|dompdf|dst)(\.php) "48"
~(?i)(/)(elements|emails?|error.log|ecscache|edit-form|eval-stdin|export|evil|fbrrchive|filemga|filenetworks?|f0x|gank(\.php)?|gass|gel|guide)(\.php) "49"
~(?i)(/)(logo_img|lufix|mage|marg|mass|mide|moon|mssqli|mybak|myshe|mysql|mytag_js?|nasgor|newfile|news|nf_?tracking|nginx|ngoi|ohayo|old-?index)(\.php) "50"
~(?i)(/)(olux|owl|pekok|petx|php-?info|phpping|popup-pomo|priv|r3x|radio|rahma|randominit|readindex|readmy|reads|repair-?bak|robot(s\.txt)?|root)(\.php) "51"
~(?i)(/)(router|savepng|semayan|shell|shootme|sky|socket(c|i|iasrgasf)ontrol|sql(bak|_?dump)?|support|sym403|sys|system_log|test|tmp-?(uploads)?)(\.php) "52"
~(?i)(/)(traffic-advice|u2p|udd|ukauka|up__uzegp|up14|upa?|upxx?|vega|vip|vu(ln)?(\w)?|webroot|weki|wikindex|wordpress|wp_logns?|wp_wrong_datlib)(\.php) "53"
~(?i)(/)((wp-?)?install(ation)?|wp(3|4|5|6)|wpfootes|wpzip|ws0|wsdl|wso(\w)?|www|(uploads|wp-admin)?xleet(-shell)?|xmlsrpc|xup|xxu|xxx|zibi|zipy)(\.php) "54"
~(?i)(bkv74|cachedsimilar|core-stab|crgrvnkb|ctivrc|deadcode|deathshop|dkiz|e7xue|eqxafaj90zir|exploits|ffmkpcal|filellli7|(fox|sid)wso|gel4y|goog1es|gvqqpinc) "55"
~(?i)(@md5|00.temp00|0byte|0d4y|0day|0xor|wso1337|1h6j5|3xp|40dd1d|4price|70bex?|a57bze893|abbrevsprl|abruzi|adminer|aqbmkwwx|archivarix|backdoor|beez5|bgvzc29) "56"
~(?i)(handler_to_code|hax(0|o)r|hmei7|hnap1|home_url=|ibqyiove|icxbsx|indoxploi|jahat|jijle3|kcrew|keywordspy|laobiao|lock360|longdog|marijuan|mod_(aratic|ariimag)) "57"
~(?i)(mobiquo|muiebl|nessus|osbxamip|phpunit|priv8|qcmpecgy|r3vn330|racrew|raiz0|reportserver|r00t|respectmus|rom2823|roseleif|sh3ll|site((.){0,2})copier|sqlpatch|sux0r) "58"
~(?i)(sym403|telerik|uddatasql|utchiha|visualfrontend|w0rm|wangdafa|wpyii2|wsoyanzo|x5cv|xattack|xbaner|xertive|xiaolei|xltavrat|xorz|xsamxad|xsvip|xxxs?s?|zabbix|zebda) "59"
~(?i)(\.)(7z|ab4|ace|afm|alfa|as(h|m)x?|aspx?|aws|axd|bash|ba?k?|bat|bin|bz2|cfg|cfml?|cgi|cms|conf\b|config|ctl|dat|db|dist|dll|eml|eng(ine)?|env|et2|exe|fec|fla|git(ignore)?)$ "60"
~(?i)(\.)(hg|idea|inc|index|ini|inv|jar|jspa?|lib|local|log|lqd|make|mbf|mdb|mmw|mny|mod(ule)?|msi|old|one|orig|out|passwd|pdb|php\.(php|suspect(ed)?)|php([^\/])|phtml?|pl|profiles?)$ "61"
~(?i)(\.)(psd|pst|ptdb|production|pwd|py|qbb|qdf|rar|rdf|remote|save|sdb|sql|sh|soa|svn|swf|swl|swo|swp|stx|tar|tax|tgz?|theme|tls|tmb|tmd|wok|wow|xsd|xtmpl|xz|ya?ml|za|zlib)$ "62"

default "0"
}

map {header.user-agent} {bad_http_user_agent_8g} {
~(?i)([a-z0-9]{1000,}) "10"
~(?i)(&lt;|%0a|%0d|%27|%3c|%3e|%00|0x00|\\\x22) "11"
~(?i)(ahrefs|archiver|curl|libwww-perl|pycurl|scan) "12"
~(?i)(oppo\sa33|(c99|php|web)shell|site((.){0,2})copier) "13"
~(?i)(base64_decode|bin/bash|disconnect|eval|unserializ) "14"
~(?i)(acapbot|acoonbot|alexibot|asterias|attackbot|awario|backdor|becomebot|binlar|blackwidow|blekkobot|blex|blowfish|bullseye|bunnys|butterfly|careerbot|casper) "15"
~(?i)(checkpriv|cheesebot|cherrypick|chinaclaw|choppy|clshttp|cmsworld|copernic|copyrightcheck|cosmos|crescent|datacha|(\b)demon(\b)|diavol|discobot|dittospyder) "16"
~(?i)(dotbot|dotnetdotcom|dumbot|econtext|emailcollector|emailsiphon|emailwolf|eolasbot|eventures|extract|eyenetie|feedfinder|flaming|flashget|flicky|foobot|fuck) "17"
~(?i)(g00g1e|getright|gigabot|go-ahead-got|gozilla|grabnet|grafula|harvest|heritrix|httracks?|icarus6j|jetbot|jetcar|jikespider|kmccrew|leechftp|libweb|liebaofast) "18"
~(?i)(linkscan|linkwalker|loader|lwp-download|majestic|masscan|miner|mechanize|mj12bot|morfeus|moveoverbot|netmechanic|netspider|nicerspro|nikto|ninja|nominet|nutch) "19"
~(?i)(octopus|pagegrabber|petalbot|planetwork|postrank|proximic|purebot|queryn|queryseeker|radian6|radiation|realdownload|remoteview|rogerbot|scan|scooter|seekerspid) "20"
~(?i)(semalt|siclab|sindice|sistrix|sitebot|siteexplorer|sitesnagger|skygrid|smartdownload|snoopy|sosospider|spankbot|spbot|sqlmap|stackrambler|stripper|sucker|surftbot) "21"
~(?i)(sux0r|suzukacz|suzuran|takeout|teleport|telesoft|true_robots|turingos|turnit|vampire|vikspider|voideye|webleacher|webreaper|webstripper|webvac|webviewer|webwhacker) "22"
~(?i)(winhttp|wwwoffle|woxbot|xaldon|xxxyy|yamanalab|yioopbot|youda|zeus|zmeu|zune|zyborg) "23"

default "0"
}

map {remote_host} {bad_remote_host_8g} {
~(?i)(163data|amazonaws|colocrossing|crimea|g00g1e|justhost|kanagawa|loopia|masterhost|onlinehome|poneytel|sprintdatacenter|reverse.softlayer|safenet|ttnet|woodpecker|wowrack) "10"

default "0"
}

map {header.referer} {bad_http_referer_8g} {
~(?i)(order(\s|%20)by(\s|%20)1--) "10"
~(?i)(@unlink|assert\(|print_r\(|x00|xbshell) "11"
~(?i)(100dollars|best-seo|blue\spill|cocaine|ejaculat|erectile|erections|hoodia|huronriveracres|impotence|levitra|libido|lipitor|mopub\.com|phentermin) "12"
~(?i)(pornhelm|pro[sz]ac|sandyauer|semalt\.com|social-buttions|todaperfeita|tramadol|troyhamby|ultram|unicauca|valium|viagra|vicodin|xanax|ypxaieo) "13"

default "0"
}

map {header.cookie} {bad_http_cookie_8g} {
~(?i)(<|>|\'|%0A|%0D|%27|%3C|%3E|%00) "10"

default "0"
}

@bad_request_method_8g method CONNECT DEBUG TRACE MOVE TRACK

